# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environments
# ===============================
venv/
env/
myenv/
.venv/

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# FastAPI / Uvicorn
# ===============================
*.log

# ===============================
# Database
# ===============================
*.db
*.sqlite3

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# OS / Editor files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Pytest
# ===============================
.pytest_cache/

# ===============================
# Coverage
# ===============================
.coverage
htmlcov/

# ===============================
# Misc
# ===============================
*.zip
*.tar
*.tar.gz
